body {
    background-color: beige;
    margin: 0;
    padding: 0;
    text-align: center;

    border-bottom: 80px solid white;
    min-height: 100vh;
    box-sizing: border-box;
}

.header {
    background: rgb(252, 253, 198);
    padding: 6px 70px;
    margin: 0;
    width: 100%;
    box-sizing: border-box; /*cite: google gemini*/

    color: rgb(40, 71, 38);
    text-align: left;
    position: relative;
}

.shop {
    font-size: 15px;
    margin-left: 50px;
    font-weight: medium;
    vertical-align: middle;
    text-decoration: none;
    color: inherit; /*var tvungen att ta reda på hur man fick bort strecket och fick samma färg cite:google gemini*/
}

.Gallery {
    font-size: 15px;
    margin-left: 20px;
    font-weight: medium;
    vertical-align: middle;
}

.member {
    font-size: 15px;
    margin-left: 100spx;
    font-weight: medium;
    vertical-align: middle;
}


.cart {
    position: absolute;
    right: 30px;
    top: 40%;
    color:rgb(79, 123, 77);
    text-decoration: none;
    color: inherit;
}

.header-picture {
    width: 50%;
    float: left;
    height: 900px;
    object-fit: cover;
}

.bestseller-text {
    clear: both;
    text-align: center;
    padding-top: 50px;  
    color: rgb(13, 27, 12);
}

.bestseller-picture {
    display: inline-block;
    width: 28%;
    height: 400px;
    object-fit: cover;
    margin: 10px;

    transition: transform 0.3s ease, filter 0.3s ease; /*cite: google gemini*/
}

.bestseller-picture:hover {  /*cite: google gemini*/
    transform: scale(1.05);
}

.bild-ner { /*cite: google gemini*/
    object-position: center 0%;
}


.about {
    clear: both;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 50px;  
    color: rgb(13, 27, 12);
}

.about-text {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    color: rgb(13, 27, 12);
    margin-bottom: 80px;
}

.banner {
     width: 49.99%;
     float: left;
    height: 600px !important;
    object-fit: cover;
}

.shoptext {
    color: rgb(12, 27, 12);
    font-size: 20px;
    text-align: center;
    padding-top: 150px;
}
